@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #fbf8f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #191208;
  font-weight: bold;
}

.button:hover .button-icon path {
  fill: #ff6900;
}
